################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AnimeOverseer.Server/bin/Debug/net10.0
/.vs
/AnimeOverseer.Server/obj
/AnimeOverseer/.vs/AnimeOverseer/v17
/AnimeOverseer.Server/wwwroot/images/cache
/AnimeOverseer.Server/animeoverseer.db
/AnimeOverseer.Server/animeoverseer.db-shm
/AnimeOverseer.Server/animeoverseer.db-wal
/AnimeOverseer.Server/animeoverseer (2).zip
/AnimeOverseer.Server/bin/Release/net10.0
/AnimeOverseer.Server/animeoverseer.before-lock-fix.db
/AnimeOverseer.Server.Tests/bin/Debug/net10.0
/AnimeOverseer.Server.Tests/obj
/AnimeOverseer.Server/Properties/PublishProfiles/*.pubxml.user
/AnimeOverseer.Server/wwwroot/_framework/
*.br
*.gz
*.csproj.user
**/bin/
**/obj/
/AnimeOverseer.Server/*.dll
/AnimeOverseer.Server/*.exe
/AnimeOverseer.Server/*.pdb
/AnimeOverseer.Server/*.deps.json
/AnimeOverseer.Server/*.runtimeconfig.json
/AnimeOverseer.Server/*.staticwebassets.endpoints.json
/AnimeOverseer.Server/runtimes/
/AnimeOverseer.Server/web.config
/.buildcheck/Debug/net10.0
